---
import AppLink from "../components/AppLink.astro";
import BaseLayout from "../components/BaseLayout.astro";

const wordleLangs = ["en", "es"];
---

<BaseLayout lang="en" title="Games">
  <main>
    {
      wordleLangs.map((lang) => (
        <AppLink path={`/wordle/${lang}`}>
          <article>
            <h3>Wordle({lang})</h3>
          </article>
        </AppLink>
      ))
    }
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
</style>