---
import "../assets/styles.css";
import AppLink from "./AppLink.astro";

interface Props {
  lang: string;
  title: string;
}

const { lang, title } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <AppLink path="/">
      <h1>{title}</h1>
    </AppLink>
    <slot />
  </body>
</html>

<style>
  h1 {text-align:center}
</style>
