---
import AppLink from "../components/AppLink.astro";
import BaseLayout from "../components/BaseLayout.astro";

const wordleLangs = ["en", "es"];
---

<BaseLayout lang="en" title="Games">
  <main>
    {
      wordleLangs.map((lang) => (
        <AppLink path={`/wordle/${lang}`}>
          <article>
            <h2>Wordle({lang})</h2>
          </article>
        </AppLink>
      ))
    }
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
</style>
